@import 'app/styles/variables.scss';

.volume-gain {
  margin-top: 10px;
  max-width: 310px;
}

.volume-gain-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.volume-container {
  margin-left: 40px;
  width: 150px;
}

.gain-container {
  width: 120px;
}

.peak-meter {
  & > .peak-meter {
    position: relative;
    top: 115px;
    right: 130px;
    height: 15px;
    width: 210px;
    transform: rotate(-90deg);
  }  
  
  & > .peak-meter-part {
    &.peak {
      width: 2px;
      height: 15px;
    }
  }
}

.slider {
  & > .value-container {
    height: 80px;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toggle-button {
  & > .button:first-child {
    margin-right: 35px;
  }
}
