@import "pod-styles";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import 'ember-burger-menu';
@import "./variables.scss";

html, body {
  user-select: none;
  background-color: $mono-1;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body > .ember-view {
  height: calc(100% - 20px);
}

.ember-modal-dialog {
  padding: 50px 30px;
  width: 50%;
  font-family: $title-font-regular;

  .modal-message {
    text-align: center;
    color: $big-stone;
    font-size: 18px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .select-config {
    color: $big-stone;
    background-color: #fff;
    border: 1px solid $blue-ribbon;
    border-radius: 5px;
    font-size: 16px;
    font-family: $text-font-semibold;
    text-align: center;
    margin: 0 10px;
    padding: 7px 25px;
  }
}

.ember-modal-overlay {
  z-index: $z-index-modal;
}

.liquid-container {
  transform: none;
}
