@import "app/styles/variables.scss";

.canvas-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-map-overlay;
}

.canvas {
  width: 100%;
  height: 450px;
}

.speaker {
  width: 60px;
  height: 60px;
  fill: $big-stone;
}

.microphone {
  width: 30px;
  height: 40px;
  fill: $big-stone;
}
