@import "app/styles/variables.scss";

& {
  display: flex;
  margin: 0 auto;
  position: fixed;
  left: 80px;
  bottom: 20px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: flex;
    align-items: center;
    font-family: $text-font-regular;
    font-size: 16px;
    color: $mono-6;
    max-width: 150px;
    padding: 20px 30px;

    &.active {
      color: #fff;
    }

    &:not(:last-child)::after {
      content: '>';
      color: #fff;
      font-size: 16px;
      font-family: $title-font-semibold;
      margin-left: 35px;
    }
  }
}
