{{aa-page-header title=(t 'probe-initialization.title')}}

<div class="initialization-container">
  <div class="initialization-instructions">
    {{t 'probe-initialization.description'}}
  </div>

  {{aa-loading}}
</div>
