@import "app/styles/variables.scss";

& {
  padding: 15px 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px 15px;
  border-radius: 1px;
  background-color: #fff;
  color: $big-stone;
  font-family: $text-font-regular;
  font-size: 14px;
  border: 1.25px solid $big-stone;
  margin-bottom: 20px;
  width: 400px;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    color: $silver;
  }

  &:hover,
  &:focus {
    border: 1.5px solid $blue-ribbon;
    border-radius: 1px;
  }
}

.label {
  font-family: $text-font-semibold;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.save-config-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $big-stone;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 1px;
  font-family: $text-font-semibold;
  font-size: 18px;
  text-align: center;
  padding: 10px 30px 10px 50px;
  margin-top: 15px;
  transition: 0.3s background-color, color ease;

  &:hover,
  &:focus {
    background-color: $blue-ribbon;
    color: #fff;

    .arrow-icon {
      fill: #fff;
    }
  }
}

.arrow-icon {
  fill: $big-stone;
  transform: rotate(180deg);
  margin-left: 15px;
  width: 24px;
  height: 24px;
}
