@import 'app/styles/variables.scss';

& {
  display: flex;
  flex-direction: column;
}

.graph-container {
  position: relative;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #000;
  z-index: $z-index-map-overlay;
  background-image: linear-gradient(270deg, #000, #003c80)
}

.channel-name {
  background-color: $big-stone;
  color: #fff;
  font-family: $text-font-semibold;
  font-size: 20px;
  border-radius: 4px 4px 0 0;
  padding: 2px 12px;
  margin: 0 15px 0 10px;
  z-index: $z-index-map-overlay;
}

.graph {
  height: 350px;
  width: 100%;
}

.eq-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.gain-container {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 20px;
    right: -70px;
    width: 1px;
    height: 85%;
    background-color: $big-stone
  }
}

.arrow-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 10px;
  fill: $big-stone;
  transform: rotate(180deg);
}

.header-end {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.save-button {
  width: 120px;
  color: $big-stone;
  background-color: #fff;
  border: none;
  border-radius: 5px 5px 0 0;
  font-family: $text-font-semibold;
  font-size: 12px;
  text-align: center;
  padding: 6px 20px;
  margin: 0 5px 0 20px;
}

.dirty {
  color: #fff;
  background-color: $blue-ribbon;
}

.tabs-container {
  display: flex;
  padding-top: 5px;
}

.tab {
  margin-right: 2px;
  color: #fff;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: $big-stone;
  border-radius: 5px 5px 0 0;
  font-family: $text-font-semibold;
  font-size: 16px;
  padding: 4px 20px;
  transition: 0.3s ease;
  transition-property: background-color, color;

  &.active {
    background-color: $big-stone;
    color: #fff;
  }
}

.input-volumes-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
