@import 'app/styles/variables.scss';

& {
  display: flex;
  flex-direction: column;
}

.graph-container {
  position: relative;
  border: 2px solid $big-stone;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.channel-name {
  background-color: $big-stone;
  color: #fff;
  font-family: $text-font-semibold;
  font-size: 24px;
  border-radius: 0 4px 4px 0;
  padding: 2px 8px;
  margin-right: 15px;
}

.graph {
  height: 350px;
  width: 100%;
}

.eq-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.volume-gain-container {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    width: 1px;
    height: 85%;
    background-color: $big-stone
  }
}
