@import 'app/styles/variables.scss';

& {
  display: flex;
  flex-direction: column;
}

.graph-container {
  position: relative;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #000;
  z-index: $z-index-map-overlay;
  background-color: $mono-4;
  padding-bottom: 3px;
}

.channel-name {
  background-color: $mono-3;
  color: #fff;
  font-family: $text-font-semibold;
  font-size: 18px;
  border-radius: 4px;
  padding: 5px 12px;
  margin: 0 15px 0 10px;
  z-index: $z-index-map-overlay;
}

.graph {
  display: flex;
  justify-content: center;
  height: 420px;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 80%;
    background-color: #fff;
  }
}

.eq-container {
  display: flex;
  flex-direction: row;
  padding: 20px 50px 0;
  justify-content: space-around;

  &.input-volume-visible {
    padding: 0;
  }
}

.gain-container {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 30px;
    right: -40px;
    width: 1px;
    height: 70%;
    background-color: $mono-3;
  }
}

.arrow-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 10px;
  fill: #fff;
  transform: rotate(180deg);
}

.header-end {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 45px;
}

.channel-save-button {
  width: 120px;
  color: $big-stone;
  background-color: #fff;
  border: none;
  border-radius: 5px 5px 0 0;
  font-family: $text-font-semibold;
  font-size: 12px;
  text-align: center;
  padding: 6px 20px;
  margin: 0 5px 0 20px;
}

.dirty {
  color: #fff;
  background-color: $blue-ribbon;
}

.tabs-container {
  display: flex;
  margin-top: 10px;
}

.tab {
  margin-right: 10px;
  color: $mono-1;
  border-radius: 2px;
  font-family: $text-font-semibold;
  font-size: 16px;
  padding: 2px 20px;
  transition: $default-transition-speed ease;
  background-color: $mono-6;
  transition-property: background-color, color;
  cursor: pointer;

  &.active {
    background-color: #fff;
    color: $blue-ribbon;
  }
}

.input-volumes-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  .channel {
    .input {
      width: 90px;
    }

    .details {
      display: none;
    }
  }
}
