{{this.channelId}}

<div class="header">
  <div class="channel-name">
    {{this.channel.data.channelName}}
  </div>
  {{aa-toggle
    leftValue=(t 'channel-details.graphic')
    rightValue=(t 'channel-details.parametric')
    isActive=this.isParametric
  }}
</div>


<div class="graph"></div>

<div class="eq-container">
  <div>
    hi
  </div>
  {{aa-eq
    isParametric=this.isParametric
    parametricFilters=this.channel.data.paramEq
    graphicFilters=this.channel.data.graphEq
  }}
</div>
