@import "app/styles/variables.scss";

& {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

h1 {
  margin-top: 5%;
  color: $big-stone;
  font-family: $title-font-bold;
  font-size: 30px;
}

.config-list-logo {
  width: 50%;
}

.configuration-list {
  display: flex;
  flex-direction: column;
}

.new-config {
  color: $big-stone;
  background-color: #fff;
  border: 1px solid $blue-ribbon;
  border-radius: 5px;
  font-family: $text-font-bold;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
  width: 350px;
  padding: 10px 70px;

  &:hover,
  &:focus {
    border-color: $tangerine;
  }
}
