@import "app/styles/variables.scss";

& {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

$config-list-height: 300px;

h1 {
  margin-top: 5%;
  color: #fff;
  font-family: $title-font-bold;
  font-size: 30px;
}

.config-list-logo {
  width: 50%;
}

.configuration-list {
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: $config-list-height;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-elements {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.top-shadow {
  position: absolute;
  width: 398px;
  height: $config-list-height;
  left: 1px;
  top: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  box-shadow: inset 0px 20px 20px -10px $mono-2;
}

.bottom-shadow {
  position: absolute;
  width: 398px;
  height: $config-list-height;
  left: 1px;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  box-shadow: inset 0px -20px 20px -10px $mono-2;
}

.shadow-active {
  opacity: 1;
}

.new-config {
  position: relative;
  outline: none;
  color: $blue-ribbon;
  background-color: #fff;
  border: none;
  border-radius: 1px;
  font-family: $text-font-semibold;
  font-size: 16px;
  text-align: center;
  margin-top: 50px;
  padding: 10px 50px 10px 30px;
  transition: 0.3s background-color, color ease;

  &:hover,
  &:focus {
    background-color: $blue-ribbon;
    color: #fff;

    .plus-icon {
      fill: #fff;
    }
  }

  .plus-icon {
    position: absolute;
    top: 11px;
    right: 20px;
    width: 20px;
    height: 20px;
    fill: $blue-ribbon;
    transition: 0.3s fill ease;
  }
}
