<img class="config-list-logo" src="assets/images/adaptone_logo.svg">

<h1>
  {{t 'config-list.title'}}
</h1>

<div class="configuration-list">
  {{#each configurations as |config|}}
    {{aa-config
      config=config
      removeConfig=(action "removeConfig" config.id)
    }}
  {{/each}}

  <button {{action "addConfig"}} class="new-config">{{t 'config-list.new'}}</button>
</div>
