@import "app/styles/variables.scss";

& {
  height: 100%;
}

.menu-toggle {
  z-index: 10;
  width: 24px;
  height: 24px;
  position: fixed;
  top: 4px;
  right: 6px;
  color: #fff;

  :hover {
    color: $mono-6;
    transition: color $default-transition-speed;
  }
}

.icon {
  width: 20px;
  height: 20px;
  color: #fff;
}

.icon-close {
  width: 24px;
}

.bm-menu {
  height: 100%;
  background-color: $mono-3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
}

.burger-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  color: #fff;
  font-family: $text-font-regular;
  font-size: 16px;
}

.bm-menu-item {
  height: 55px;
  display: flex;
  align-items: center;

  :hover {
    background-color: $mono-1;
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    padding-right: 10px;
    fill: #fff;
  }
}

.option {
  min-width: 140px;
}

.ember-burger-menu > .bm-outlet > .bm-content {
  background-color: $mono-1;
}
