@import 'app/styles/variables.scss';

.gain {
  margin-top: 10px;
}

.gain-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
}

.slider {
  & > .value-container {
    height: 80px;
  }
}

.peak-meter {
  margin-right: 7px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toggle-button {
  & > .button:first-child {
    margin-right: 35px;
  }
}
