@import 'app/styles/variables.scss';

.gain {
  margin-top: 18px;
}

.gain-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
}

.slider {
  & > .value-container {
    height: 80px;
  }
}

.peak-meter {
  margin-right: 7px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}

.toggle-button {
  &:first-child {
    margin-bottom: 20px;
  }

  & > .button {
    display: flex;
    justify-content: center;
    width: 100px;
  }
}
