<div class="gain">
  <div class="gain-container">
    <div class="container">
      {{aa-peak-meter
        class="peak-meter"
        min=-100
        max=0
        yellowLimit=-30
        redLimit=-10
        value=this.inputAfterGain
      }}

      {{aa-slider
        class="slider"
        showValue=true
        valueTitle=(t 'gain.gain')
        min=this.minValue
        value=this.gain
        max=this.maxValue
        step=0.01
      }}
    </div>
  </div>

  <div class="button-container">
    {{aa-toggle-button
      class="toggle-button"
      isActive=this.isMuted
      text=(t 'gain.mute')
      icon="assets/images/volume-off-icon.svg"
      onButtonClick=(action "onIsMutedChange" this.isMuted)
    }}

    {{aa-toggle-button
      class="toggle-button"
      isActive=this.isSolo
      text=(t 'gain.solo')
      icon="assets/images/volume-on-icon.svg"
      onButtonClick=(action "onIsSoloChange" this.isSolo)
    }}
  </div>
</div>
