<div class="title-wrapper">
  <h1 class="title">
    {{t 'console-loading.title'}}
  </h1>

  {{inline-svg "assets/images/checkmark-icon.svg" class="checkmark-icon"}}
</div>

<div class="console-loading-container">
  <div class="console-loading-instructions">
    {{t 'console-loading.description'}}
  </div>

  {{aa-loading}}
</div>
