@import "app/styles/variables.scss";

& {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.map {
  width: 100%;
  height: 400px;
  background-color: $wild-sand;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.button-content {
  display: flex;
  flex-direction: row;
}

.replay-icon {
  width: 30px;
  margin-right: 10px;
  fill: #fff;
}

.arrow-icon {
  fill: $big-stone;
  margin-left: 10px;
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 1px;
  font-family: $text-font-semibold;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  min-width: 350px;
  transition: $default-transition-speed background-color, color ease;
}

.rerun-initialization-button {
  color: #fff;
  background-color: $blue-ribbon;
  margin-right: 30px;

  &:hover,
  &:focus {
    background-color: #fff;
    color: $blue-ribbon;

    .replay-icon {
      fill: $blue-ribbon;
    }
  }
}

.confirm-button {
  color: $big-stone;
  background-color: #fff;
  transition: $default-transition-speed background-color, color ease;

  &:hover,
  &:focus {
    background-color: $blue-ribbon;
    color: #fff;

    .arrow-icon {
      fill: #fff;
    }
  }
}
