@import "app/styles/variables.scss";

& {
  display: flex;
  color: #fff;
  font-family: $text-font-semibold;
  font-size: 16px;
  margin-top: 6px;
}

$width: 40px;
$height: $width / 2.5;

input[type='checkbox'] {
  display: none;

  &:checked ~ .toggle {
    background: #fff;
    left: ($width - ($height * 1.4 - $height) / 2) - $height;
    transition: $default-transition-speed;
  }

  &:checked ~ .switch {
    background: $mono-3;
    transition: $default-transition-speed;
  }
}

.switch {
  display: block;
  width: $width;
  height: $height;
  background: $mono-3;
  border-radius: $height / 2;
  position: absolute;
  top: 0;
  transition: $default-transition-speed;
  cursor: pointer;
}

.toggle {
  height: $height * 1.4;
  width: $height * 1.4;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: ($height * 1.4 - $height) / -2;
  left: ($height * 1.4 - $height) / -2;
  box-shadow: 0 $width / 50 $width / 25 rgba(black, .4);
  transition: $default-transition-speed;
  cursor: pointer;
}

.card {
  display: inline-block;
  margin: ($height / 4) (($height * 1.4 - $height) / 2) + 5px (($height * 1.4 - $height) / 2) + 5px;
  width: $width;
  height: $height;
  text-align: center;
  position: relative;
}
