{{leftValue}}

<div class="card">
  <label for="switch">
    {{input type="checkbox" id="switch" checked=isActive}}
      <span class="switch"></span>
      <span class="toggle"></span>
  </label>
</div>

{{rightValue}}
