@import "app/styles/variables.scss";

& {
  margin: 12px 0;
}

.config-container {
  display: flex;
  margin-right: -40px;
}

.select-config {
  color: #fff;
  background-color: $blue-ribbon;
  border: 1px solid $blue-ribbon;
  border-radius: 5px;
  font-family: $text-font-regular;
  font-size: 16px;
  text-align: center;
  width: 350px;
  height: 40px;
  padding: 0 10px;
}

.delete-config {
  color: $big-stone;
  border: none;
  background-color: transparent;
  font-size: 20px;
  text-transform: uppercase;
  font-family: $text-font-semibold;
  text-align: center;
  width: 40px;
  height: 40px;
}
