@import "app/styles/variables.scss";

&:last-child {
  border-bottom: 1px solid black;
}

.config-container {
  display: flex;
  margin-right: -40px;
}

.select-config {
  color: $mono-3;
  background-color: $mono-6;
  font-family: $text-font-regular;
  font-size: 16px;
  text-align: center;
  width: 400px;
  height: 40px;
  border: 1px solid black;
  border-bottom: 0;
  outline: none;
}

.select-config:hover {
  background-color: $mono-5;
}

.delete-config {
  color: $big-stone;
  border: none;
  background-color: transparent;
  font-size: 20px;
  text-transform: uppercase;
  font-family: $text-font-semibold;
  text-align: center;
  width: 40px;
  height: 40px;
}
