@import "app/styles/variables.scss";

&:last-child {
  border-bottom: 1px solid black;
}

.config-container {
  display: flex;
  margin-right: -40px;
}

.select-config {
  color: $mono-3;
  background-color: #fff;
  font-family: $text-font-regular;
  font-size: 16px;
  text-align: center;
  width: 400px;
  height: 40px;
  border: 1px solid black;
  border-bottom: 0;
  border-radius: 1px;
  outline: none;
  padding: 0 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-config:hover {
  background-color: $blue-ribbon;
  color: #fff;
}

.delete-config {
  display: flex;
  position: relative;
  right: 40px;
  color: $mono-1;
  border: none;
  background-color: transparent;
  font-size: 20px;
  text-transform: uppercase;
  font-family: $text-font-semibold;
  text-align: center;
  width: 40px;
  height: 40px;
}

.delete-icon {
  width: 18px;
  height: 18px;
}

.delete-config:focus {
  outline: none;
}

.delete-config:hover {
  .delete-icon {
    color: $mono-5;
    transition: color 0.3s ease;
  }
}
