@import 'app/styles/variables.scss';

.peak-meter {
  width: 25px;
  height: 210px;
  border: 1px solid $big-stone;
  position: relative;
  background: #fff;
}

.peak-meter-part {
  width: 100%;
  position: absolute;
  bottom: 0;

  &.green {
    background: linear-gradient(0deg, $spring-green, $gold);
  }

  &.yellow {
    background: linear-gradient(0deg, $gold, $torch-red);
  }

  &.red {
    background-color: $torch-red;
  }

  &.peak {
    content: '';
    width: 25px;
    height: 2px;
    background-color: $big-stone;
  }
}
