@import 'app/styles/variables.scss';

.peak-meter {
  width: 25px;
  height: 210px;
  border: none;
  position: relative;
  background: $wild-sand;
}

.peak-meter-part {
  width: 100%;
  position: absolute;
  bottom: 0;

  &.green {
    background-color: $spring-green;
  }

  &.yellow {
    background-color: $gold;
  }

  &.red {
    background-color: $torch-red;
  }

  &.peak {
    content: '';
    width: 25px;
    height: 2px;
    background-color: $big-stone;
  }
}
