@import 'app/styles/variables.scss';

.peak-meter {
  transform: rotate(-90deg);
  width: 250px;
  height: 25px;
  border: none;
  position: relative;
  background: $wild-sand;
}

.peak-meter-part {
  position: absolute;
  top: 0;
  bottom: 0;

  &.green {
    background-color: $spring-green;
  }

  &.yellow {
    background-color: $gold;
  }

  &.red {
    background-color: $torch-red;
  }

  &.peak {
    content: '';
    width: 2px;
    height: 25px;
    background-color: $big-stone;
  }
}
