<div class="peak-meter">
  <div class="peak-meter-part green"></div>
  <div class="peak-meter-part yellow"></div>
  <div class="peak-meter-part red"></div>
  <div class="peak-meter-part peak"></div>
</div>
