@import "app/styles/variables.scss";

& {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.heat-map {
  border-width: 0 2px 5px;
  border-style: solid;
  border-color: $big-stone;
  margin-bottom: 3px;
}

.channels {
  display: flex;
  align-items: flex-start;
  padding-left: 70px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 50%;
}

.outputs {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 50%;
}

.top-container {
  position: relative;
}

.sidebar {
  position: absolute;
  top: 5px;
  right: 5px;
}
