@import "app/styles/variables.scss";

& {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.heat-map {
  margin-bottom: 3px;
  border-bottom: 2px solid $mono-3;
}

.channels {
  display: flex;
  align-items: flex-start;
  padding-left: 70px;
  padding-top: 8px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 50%;
}

.outputs {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50%;
  overflow-y: scroll;
  max-height: 340px;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.top-container {
  position: relative;
}

.sidebar {
  position: absolute;
  top: 5px;
  right: 5px;
}
