{{aa-heat-map
  max=0.15
  min=0
  radius=250
  positions=this.positions.data.positions
  class="heat-map"
}}

<div class="channels">
  {{#each-in this.channels as |index channel|}}
    {{aa-channel
      channel=channel
      onChannelVolumeChange=(action "onChannelVolumeChange" channel.data)
      onChannelMuteChange=(action "onChannelMuteChange" channel.data)
      onChannelSoloChange=(action "onChannelSoloChange" channel.data)
    }}
  {{/each-in}}
</div>
