<div class="channels">
  {{#each-in this.channels as |index channel|}}
    {{aa-channel
      name=channel.data.channelName
      volume=channel.data.volume
      isMuted=channel.data.isMuted
      isSolo=channel.data.isSolo
    }}
  {{/each-in}}
</div>
