@import "app/styles/variables.scss";

$track-width: 15.5em;
$track-height: .25em;
$thumb-dimensions: 1.5em;
$track-color: $mono-3;
$fill-color: $blue-ribbon;

& {
  display: flex;
  align-items: center;
}

.value-container {
  margin-left: 10px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  border-radius: 1px;
  background-color: $mono-3;
}

.value-text {
  text-transform: uppercase;
  color: #fff;
  font-family: $text-font-semibold;
  font-size: 20px;
}

.value-separator {
  background-color: #fff;
  width: 90%;
  height: 1px;
}

.wrap {
	float: left;
	position: relative;
	margin: 2px 10px;
  width: $thumb-dimensions;
  height: 100%;
}

[type='range'] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  --range: calc(var(--max) - var(--min));
	--ratio: calc((var(--val) - var(--min)) / var(--range));
	--sx: calc(0.5 * #{$thumb-dimensions} + var(--ratio) * (100% - #{$thumb-dimensions}));
	position: absolute;
  top: 50%;
  left: 50%;
	margin: 0;
	padding: 0;
  width: $track-width;
  height: $thumb-dimensions;
	transform: translate(-50%, -50%)
		rotate(-90deg);
	background: transparent;

	&::-webkit-slider-runnable-track {
		box-sizing: border-box;
    border: none;
    width: $track-width;
    height: $track-height;
    border-radius: 10px;
    background: linear-gradient($fill-color, $fill-color)
      0 / var(--sx) 100% no-repeat $track-color
	}

	&::-webkit-slider-thumb {
		margin-top: 0.5 * ($track-height - $thumb-dimensions);
		box-sizing: border-box;
    border: none;
    width: $thumb-dimensions;
    height: $thumb-dimensions;
    border-radius: 50% 50% 0;
    transform: rotate(45deg);
    background: #fff;
    cursor: pointer;
	}
}
