@import "app/styles/variables.scss";

& {
  position: relative;
}

.parametric-filters {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  width: 700px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -25px;
    width: 90%;
    border-bottom: 1px solid $mono-3;
  }
}

.graphic-filters {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.parametric-filter-buttons-container {
  display: flex;
  flex-direction: row;
}

.parametric-filter-button {
  border: none;
  margin-right: 30px;
  border-radius: 1px;
  padding: 5px 30px;
  color: $big-stone;
  font-family: $text-font-semibold;
  font-size: 18px;
  background-color: $mono-6;
  transition: $default-transition-speed background-color ease, $default-transition-speed color ease;

  &.active {
    background-color: #fff;
    color: $blue-ribbon;
  }

  &:focus {
    outline: none;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: #fff;
  }
}

.parametric-filter-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-left: 50px;
}

.graphic-filter-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.power-button {
  margin-right: 40px;
  margin-bottom: 30px;
}

.knob {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  font-family: $text-font-semibold;
  font-size: 20px;
  color: #fff;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  margin: 0 13.4px;
  height: 250px;
}

.slider-frequency {
  font-family: $text-font-semibold;
  color: #fff;
  font-size: 18px;
}

.knobs-container {
  display: flex;
  flex-direction: row;

  &.disabled {
    pointer-events: none;
  }
}
