@import 'app/styles/variables.scss';

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.title {
  color: $big-stone;
  font-family: $title-font-bold;
  font-size: 48px;
}
