@import "app/styles/variables.scss";

& {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 20px;
  width: 100px;
}

.title {
  font-family: $text-font-semibold;
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
}

.value {
  position: absolute;
  top: 35px;
  width: 100%;
  text-align: center;
  font-family: $text-font-bold;
  font-size: 16px;
  color: #fff;
  z-index: 3;
}

.knob {
  position: relative;
  width: 100px;
  height: 100px;
}

.quarter {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 14px solid;
  border-color: transparent $blue-ribbon transparent transparent;
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 14px solid #fff;
}

.overlay {
  position: absolute;
  top: 60px;
  left: 19px;
  width: 60px;
  height: 60px;
  background-color: $mono-1;
  transform: rotate(45deg);
  z-index: 2;
}

.label-mid {
  font-family: $text-font-semibold;
  font-size: 18px;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  margin-right: 5px;
}

.bottom-label-container {
  display: flex;
  width: 100%;
  margin-top: -15px;
  justify-content: space-between;
  font-family: $text-font-semibold;
  font-size: 18px;
  color: #fff;
  z-index: 3;
}

.label-mid,
.label-max {
  flex: 1 1 50%;
}
