@import 'app/styles/variables.scss';

.channel {
  position: relative;
  border: 2px solid $mono-3;
  border-radius: 3px;
  min-width: 100px;
  min-height: 332px;
  background-color: $mono-5;
  margin: 5px 3px 0 3px;

  &.output {
    background-color: $mono-4;

    & > .meter-container {
      .peak-meter {
        height: 240px;
      }

      [type='range'] {
        width: 240px;
      }
    }
  }
}

.name {
  position: relative;
  display: flex;
  flex-direction: row;
}

.input {
  font-family: $text-font-semibold;
  font-size: 14px;
  color: #fff;
  width: 65px;
  border: none;
  background-color: transparent;;
  margin: 10px 0 0 5px;
  text-align: center;
  outline-color: $mono-3;

  &:hover {
    outline: 1px solid $mono-3;
    transition: $default-transition-speed;
  }
}

.input:focus {
  outline: 1px solid $mono-3;
}

.details {
  display: flex;
  position: absolute;
  top: 6px;
  right: 8px;
  transform: rotate(-90deg);

  & > a {
    text-decoration: none;
    font-size: 34px;
    font-family: $text-font-bold;
    color: $big-stone;
    margin: 10px 0 0 5px;
    display: flex;
    align-items: center;
  }
}

.details:hover {
  .link-icon {
    fill: #fff;
    transition: fill $default-transition-speed;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.toggle-button {
  &:first-child {
    margin-bottom: 5px;
  }

  & > .button {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 3px 0;
    width: 80px;
  }
}

.meter-container {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 10px;
}

.link-icon {
  width: 24px;
  height: 28px;
  transform: rotate(-90deg);
  fill: rgba(255, 255, 255, 0.6);
}

.saturation {
  content: '';
  position: absolute;
  top: 110px;
  left: 8px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s background-color ease;

  &.active {
    background-color: $spring-green;
  }
}
