@import 'app/styles/variables.scss';

.channel {
  background-color: $silver;
  border: 1.5px solid $big-stone;
  width: 97px;

  &.output {
    background-color: $silver-chalice;
  }
}

.name {
  position: relative;
  display: flex;
  flex-direction: row;
}

.input {
  font-family: $text-font-semibold;
  font-size: 14px;
  color: $big-stone;
  width: 65px;
  border: none;
  background-color: transparent;;
  margin: 10px 0 0 5px;
  text-align: center;
}

.details {
  display: flex;
  position: absolute;
  top: 6px;
  right: 8px;
  transform: rotate(-90deg);

  & > a {
    text-decoration: none;
    font-size: 34px;
    font-family: $text-font-bold;
    color: $big-stone;
    margin: 10px 0 0 5px;
    display: flex;
    align-items: center;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.toggle-button {
  & > .button {
    padding: 0px 18px;
    border-top: 1px solid $big-stone;
    border-radius: 0px;
  }

  & > .button:first-child {
    border-right: 1px solid $big-stone;
  }
}

.meter-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 10px;
}

.link-icon {
  width: 24px;
  transform: rotate(-90deg);
  fill: $big-stone;
}
