@import 'app/styles/variables.scss';

.channel {
  background-color: $silver;
  border: 1.5px solid $big-stone;
  width: 100px;
}

.name {
  display: flex;
  flex-direction: row;
}

.input {
  font-family: $text-font-semibold;
  font-size: 16px;
  color: $big-stone;
  width: 60px;
  border: none;
  background-color: $silver;
  margin-left: 5px;
}

.details {
  font-size: 26px;
  font-family: $text-font-bold;
  transform: rotate(-90deg)
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 5px;
}

.toggle-button {
  & > .button {
    padding: 0px 18px;
    border: 1px solid $big-stone;
    border-radius: 0px;
  }
}

.meter-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-left: 15px;
}

.peak-meter {
  & > .peak-meter {
    position: relative;
    top: 95px;
    right: 90px;
    height: 25px;
    width: 210px;
    transform: rotate(-90deg);
  }
  
  & > .peak-meter-part {
    &.peak {
      width: 2px;
      height: 25px;
    }
  }
}
