@import "app/styles/variables.scss";

& {
  padding: 15px 100px;
}

.positioning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.positioning-instructions {
  color: $big-stone;
  font-family: $title-font-semibold;
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}

.run-initialization-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $big-stone;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-family: $text-font-semibold;
  font-size: 18px;
  text-align: center;
  padding: 10px 30px 10px 60px;
  margin-top: 30px;
}

.arrow-icon {
  fill: $big-stone;
  margin-left: 10px;
  transform: rotate(180deg);
}
