@import "app/styles/variables.scss";

& {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  background-color: $mono-3;
  -webkit-app-region: drag;
}

.logo {
  height: 10px;
  fill: #fff;
  margin-left: 5px;
}

.disconnected {
  .o-top,
  .o-bot {
    fill: $torch-red;
  }
}

.button {
  width: 12px;
  height: 12px;
  fill: #fff;
  padding: 4px;
}

.close:hover {
  background-color: $torch-red;
}

.minimize:hover,
.maximize:hover {
  background-color: lighten($big-stone, 20%);
}

.maximize rect {
  width: 9px;
  height: 9px;
  stroke: #e5e5e5;
}

.minimize rect {
  width: 10px;
  height: 1px;
}

.window-controls {
  display: flex;
  -webkit-app-region: no-drag;
}
