& {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  background-color: $big-stone;
  -webkit-app-region: drag;
}

.logo {
  height: 10px;
  fill: $mercury;
  margin-left: 5px;
}

.button {
  width: 10px;
  height: 10px;
  color: $mercury;
  padding: 4px;
}

.window-controls {
  display: flex;
  margin-right: 5px;
  -webkit-app-region: no-drag;
}
